body {
  margin: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: auto;
  background-image: url(https://storage.googleapis.com/pai-images/fd103e81f5154456af0dd191b8e412c9.jpeg);

  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-color: rgba(0, 0, 0, 0.859); */
  /* background-repeat: repeat; */
  /* background-attachment: inherit; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
