.card-grid {
  min-height: 100vh;
  width: 90%;
  /* outline: 5px solid #2b382a; */
  /* margin: 150px auto; */
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 30px;
  position: relative;
  top: 80px;
  
}

.card {
  margin-top: 80px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.845);
  /* padding: 20px; */
  width: 100%;
}


@media (max-width: 768px) {
  .card-grid {
    top: 22rem;
  }
  }